@model IEnumerable<ThreeAmigosStoreServices.Models.ProductModel>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StoreID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmigosProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPriceForOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPriceForTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedRestock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StoreID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoreProductID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmigosProductID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPriceForOne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPriceForTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpectedRestock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { id = item.StoreProductID }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
